/Banking/bin
/Banking/obj
/BankingTest/bin
/BankingTest/obj
/BankingWebApp/bin
/BankingWebApp/obj
/BankingConsoleApp/bin
/BankingConsoleApp/obj
/BankingApi/bin
/BankingApi/obj
/BankingWebApp/wwwroot
.DS_Store
.env
.idea